@model Biblioteca_LAB.Models.Requisita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requisita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntregaR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntregaR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLeitorRNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLeitorRNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsbnRNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsbnRNavigation.Isbn)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
